@import "base/variables"
@import "base/animations"
@import "base/mixins"
*
    font-family: 'MuseoModerno', sans-serif
.container
    max-width: 950px
    margin: 0 auto

@import "media/media"
@import 'blocks/_backgraoundPage2'
@import 'blocks/_header'
@import 'blocks/_search'
@import 'blocks/_product'
@import 'blocks/_navigarion'