@import "./base/variables"
@import "./normalize"
*
    font-family: 'Noah', sans-serif
    box-sizing: border-box
.container
    max-width: 60vw
    margin: 0 auto
body
    background: $white
ul
    margin: 0

@import "./blocks/logo"
@import "./blocks/nav"
@import "./blocks/intro"
@import "./blocks/promo"
@import "./blocks/carousel"
@import "./blocks/popular"
@import "./blocks/product"

@import "media/media"
@import 'blocks/_backgraoundSearchForm'
@import 'blocks/_headerSearchForm'
@import 'blocks/_searchSearchForm'
@import 'blocks/_productSearchForm'
@import 'blocks/_navigarionSearchForm'

@import 'blocks/_containerProfile'
@import 'blocks/_headerProfile'
@import 'blocks/_usersProfile'
