.carousel
    padding: 81px 0
    &__inner
        width: 750px
        margin: 0 auto
        position: relative
        img
            width: 100%
            height: auto
        .slick-prev, .slick-next
            background: #fff
            border: none
            outline: none
            position: absolute
            left:-66px
            top:50%
            transform: translateY(-50%)
        .slick-next
            right:-66px
            left: auto
        .slick-dots
            position: absolute
            bottom: -50px
            left: 50%
            transform: translateX(-50%)
            font-size: 0
            display: flex !important
            column-gap: 3px
            button
                height: 15px
                width: 15px
                border: 2px solid #c70101
                background: #c70101
                border-radius: 100%
                outline: none
            .slick-active button
                background: #fff
                   
                    
                


